name: deploy-website

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# This job installs dependencies, build the website, and pushes it to `gh-pages`
jobs:
  deploy-website:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4

      # Install dependencies
      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          activate-environment: esds-blog
          auto-activate-base: false
      # Build the website
      - name: Build the site
        run: |
          make dirhtml
      # Push the book's HTML to github-pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.9.3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/dirhtml
          cname: https://ncar.github.io/esds/
